/*Interruptor*/
.switchBtn {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    .switchBtn input {
        display: none;
    }

.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: white;
}

    .slide:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        right: 30px;
        bottom: 5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slide {
    background-color: #8CE196;
}

input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}

input:checked + .slide:before {
    right: 3px;
}

.slide.round {
    border-radius: 34px;
}

    .slide.round:before {
        border-radius: 50%;
    }
